<% content_for :page_script do %>
  <%= javascript_include_tag "invoices" %>
<% end %>
<div id="invoice">
  <h1>Invoice #<%= @invoice.id %></h1>
  <div id="invoice_items">
    <table id="invoice_items_table" border=1>
    </table>
  </div>
</div>
<script type="text/javascript">
  var invoiceID          = <%= @invoice.id %>;
  var serverInvoiceItems = <%= @invoice.invoice_items.to_json.html_safe %>;
</script>
