/* Mixins */

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}

@mixin gradient($from, $to) {
  background-color: $from;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background: -webkit-linear-gradient(top, $to, $from);
  background: -moz-linear-gradient(top, $to, $from);
  background: -ms-linear-gradient(top, $to, $from);
  background: -o-linear-gradient(top, $to, $from);
}

/* Global CSS Styles */

html {
  background-color: #FFFFFF;
}

body {
  padding: 0px;
  margin: 0px;
}

header {
  height: 100px;
  background-color: #000000;
}

#middleshelf_main_content {
  padding: 10px;
}