@import "global.css.scss";

#middleshelf_login_box {
  width: 250px;
  padding: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  @include rounded(0.5em);
  @include box-shadow(0.1em,0.1em,0.1em,#000000);
}